.avContainer {
  position:relative;
  width: 300px;
  height: 300px;
}

.paulAv {
  background-image: url("./../assets/meAvTSkeleton.png");
  background-size: 100%;
  background-position: 50%;
  img {
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.1;
      transition: opacity 2s .33s;
    }
  }
  &:active {
    background-image: url("./../assets/meAvTSkeletondoot.png")
  }
  &:active+.doot {
    opacity: 1;
  }
}

.doot {
  position: absolute;
  background-image: url("./../assets/meAvSkeletondoot-horn.png");
  background-size: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  pointer-events: none
}