.paulPic {
  position:relative;
  display:flex;
  justify-content:center;
}

.avContainer {
  position:relative;
  width: 300px;
  height: 231px;
}

.paulAv {
  background-image: url("./../assets/meAvTSkeleton.png");
  background-size: 100%;
  background-position: 50%;
  background-repeat:no-repeat;
  image-rendering: crisp-edges;
  img {
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.1;
      transition: opacity 2s .33s;
    }
  }
  &:active {
    background-image: url("./../assets/meAvTSkeletondoot.png")
  }
}