//  VARIABLES
//..  FONTS
$heebo: Heebo, sans-serif;
$special: Special Elite, serif;
//..  COLOURS
$darkGrey: #3b3b3f; //     rgba(59, 59, 63, 1.000)
$faintBlue: #9c97c8; //    rgba(156,151,200,1.000)
$faintGrey: #a3b2c4; //    rgba(163,178,196,1.000)
$darkSlate: #484a5f; //    rgba(72, 74, 95, 1.000)
$lightBlue: #48a0f0; //    rgba(72, 160,240,1.000)
$amber: #e99b36; //        rgba(233,155,54, 1.000)
$slate: #8485af; //        rgba(132,133,175,1.000)

/*  BASE IMPORTS  */
@import "partials/normalize";
@import "partials/main";
@import "partials/header";
@import "partials/bio";
@import "partials/skills";
@import "partials/work";
@import "partials/contact";
@import "partials/animations";